/*
mainColor:#80BD3C;
#efefef
*/

:root {
  --mainColor: #80bd3c;
  --filter: #00000094;
}

html {
  scroll-behavior: smooth;
}
/*navbar
.navbar {
  background: linear-gradient(227.41deg, #287136 0%, #80bd3c 84%);
}
.navbar-nav .nav-link {
  color: white !important;

}*/
.select-reservation .slide::after {
  content: '';
  background-color: var(--filter) !important;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
}

.select-reservation .slide img {
  height: 500px;
}

.info-resrvation {
  padding: 100px 0;
}

span {
  color: red;
}
.select-reservation .info-resrvation .row button {
  background-color: #efefef;
  margin: 10px;
  padding: 13px;
  width: 110px;
}

.info-resrvation h1 {
  margin: 50px 0;
}

.info-resrvation .info-player .name input {
  border-radius: 10px;
  border: none;
  background-color: #ddd;
  padding: 10px;
}

.select-reservation .info-resrvation form {
  padding: 40px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background: #dee2e66b;
}
.select-reservation .info-resrvation form button {
  color: white;
  background-color: var(--mainColor);
  border-color: var(--mainColor);
  font-weight: bold;
}
.select-reservation .info-resrvation form button:hover {
  background-color: white;
  color: var(--mainColor);
  border-color: var(--mainColor);
}

.btn:focus {
  outline: 0;
  background-color: var(--mainColor) !important;
  color: white;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.pendding {
  color: #ffc107;
}

.reserved {
  color: #f8f9fa;
}
/*Style Price the Day and the night*/

.info-resrvation .heurs p {
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(227.41deg, #287136 0%, #80bd3c 84%);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

/*style input date*/

input[type='date'] {
  width: 274px;
  align-self: center;
  padding: 3px 62px !important;
  border: 3px solid;
  border-color: var(--mainColor);
  border-radius: 22px;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.info-resrvation .form-control:focus {
  color: #000000 !important;
  border-color: #15b91d !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(74, 212, 6, 0.25) !important;
}

.info-resrvation .key {
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  width: 485px;
  margin-top: 15px;
}

.info-resrvation .key span:first-child {
  margin-right: 10px;
}
.info-resrvation .key span:last-child {
  margin-left: 10px;
}
.info-resrvation .key i:first-child {
  color: #ddd;
}

/*footer*/
.footer {
  background: linear-gradient(227.41deg, #287136 0%, #80bd3c 84%);
  padding: 30px 0;
}
