/*
mainColor:#80BD3C;
#efefef
*/

:root {
  --mainColor: #80bd3c;
  --filter: #00000094;
}

html {
  scroll-behavior: smooth;
}

.info-resrvation{
  padding: 100px 0;
}

.select-reservation .info-resrvation button{
  background-color: #efefef;
  margin: 10px;
  padding: 13px;
  width: 110px;
}