/*
mainColor:#80BD3C;
*/

:root {
  --mainColor: #80bd3c;
  --filter: #00000094;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../imges/stadium-py.jpg");
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 6000px;
}

/* Start Navbar */

.bg-light {
  background-color: var(--filter) !important;
  border-bottom: thin;
}

.navbar-brand .logo {
  width: 100px;
}
.navbar-nav .nav-link {
  color: var(--mainColor) !important;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20px;
}

.navbar-nav .active > .nav-link {
  color: white !important;
  background-color: var(--mainColor) !important;
  border-radius: 10px;
  border-bottom: none !important;
  padding: 11px;
}
.navbar-nav .active > .nav-link:hover {
  background-color: white !important;
  color: var(--mainColor) !important;
}

.navbar-nav .nav-item:first-child {
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: var(--mainColor);
  border-style: solid;
  transition: 0.8s;
}
.navbar-nav .nav-item :first-child :hover {
  border-color: var(--mainColor);
}
/* End Navbar */

/* Start Home */
.home {
  background-color: var(--filter);
}
.home .row {
  align-items: center;
  justify-content: center;
}
.home .soccer {
  width: 700px;
  overflow: hidden;
}

h1 {
  text-transform: uppercase !important;
  color: var(--mainColor);
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}
p {
  color: white;
}
.home .row {
  border: 5px solid white;
  border-radius: 40px;
}
.home .definition {
  text-transform: uppercase !important;
  color: var(--mainColor);
  line-height: 30px;
}
/* End Home */

/* Start Stade */
.stade {
  background-color: var(--filter);
  padding: 100px 0;
}
.stade .terrain {
  margin-bottom: 60px;
}
.stade .card {
  border: 15px solid white;
  border-bottom-left-radius: 55px;
  border-top-right-radius: 55px;
  margin-bottom: 14px;
  box-shadow: -8px -3px 0px 4px #80bd3c;
}

.stade .row .card img {
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  height: 200px;
}
/* End Stade */

/* Start Reservations */
.reservations {
  position: relative;
}
.reservations .team::before {
  content: "";
  background-color: var(--filter) !important;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
}
.reservations .team .img-fluid {
  box-shadow: 0 0 40px -10px var(--mainColor);
}
.reservations .content {
  position: absolute;
  left: 29%;
  top: 44px;
}
.reservations .btn {
  position: absolute;
  left: 41%;
  bottom: 86px;
  width: 200px;
  height: 50px;
  background-color: var(--mainColor) !important;
  color: white;
  font-weight: bold;
}
.reservations .btn:hover {
  color: var(--mainColor) !important;
  background-color: white !important;
}
/* End Reservations */

/* End ABOUT */
.about {
  background-color: var(--filter);
  padding: 100px 0;
}
/* End ABOUT */
