/*
mainColor:#80BD3C;
*/

:root {
  --mainColor: #80bd3c;
  --filter: #00000094;
}

html {
  scroll-behavior: smooth;
}

.body {
  background-image: url("../imges/stadium-py.jpg");
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Start Navbar */

.bg-light {
  background-color: var(--filter) !important;
  border-bottom: thin;
}

.navbar-brand .logo {
  width: 100px;
}
.navbar-nav .nav-link {
  color: var(--mainColor) !important;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  
}
.navbar-nav .nav-link:hover {
  color: white !important;

  
}


.navbar-nav .active > .nav-link {
  color: white !important;
  background-color: var(--mainColor) !important;
  border-radius: 10px;
  border-bottom: none !important;
  padding: 11px;
}
.navbar-nav .active > .nav-link:hover {
  background-color: white !important;
  color: var(--mainColor) !important;
}

/* End Navbar */

/* Start Home */
.home {
  background-color: var(--filter);
}
.home .row {
  align-items: center;
  justify-content: center;
}
.home .soccer {
  width: 700px;
  overflow: hidden;
}

h1 {
  text-transform: uppercase !important;
  color: var(--mainColor);
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}
p {
  color: white;
}
.home .row {
  border: 5px solid white;
  border-radius: 40px;
}
.home .definition {
  text-transform: uppercase !important;
  color: var(--mainColor);
  line-height: 30px;
}
/* End Home */

/* Start Stade */
.stade {
  background-color: var(--filter);
  padding: 100px 0;
}
.stade .terrain {
  margin-bottom: 60px;
}
.stade .card {
  border: 15px solid white;
  border-bottom-left-radius: 55px;
  border-top-right-radius: 55px;
  margin-bottom: 14px;
  box-shadow: -8px -3px 0px 4px #80bd3c;
}

.stade .row .card img {
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  height: 200px;
}
/* End Stade */

/* Start Reservations */
.reservations {
  position: relative;
}
.reservations .team::before {
  content: "";
  background-color: var(--filter) !important;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
}
.reservations .team .img-fluid {
  box-shadow: 0 0 40px -10px var(--mainColor);
}
.reservations .content {
  position: absolute;
  left: 29%;
  top: 80px;
}
.reservations .btn {
  position: absolute;
  left: 40%;
  bottom: 133px;
  width: 228px;
  background-color: var(--mainColor) !important;
  color: white;
  font-weight: bold;
  padding: 12px;
  border-radius: 30px;
}
.reservations .btn:hover {
  color: var(--mainColor) !important;
  background-color: white !important;
}
.reservations a {
  margin-top: 20px !important;
}
/* End Reservations */

/* End ABOUT */
.about {
  background-color: var(--filter);
  padding: 100px 0;
}
/* End ABOUT */

/* Start Footer */
.footer {
  background: linear-gradient(178.54deg, #7aad3fd9 61.87%, var(--filter) 100%);
  box-shadow: -1px -1px 3px 5px #7aad3fd9;
  padding: 30px 0;
}

.footer .site-info h2 {
  color: white;
  margin-bottom: 25px;
}
.footer .site-info p {
  color: #fffc;
  line-height: 2.8;
}
.footer .helpful-links h3,
.footer .contact h3 {
  font-family: "Otomanopee One", sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  color: white;
  margin-bottom: 11px;
  text-transform: uppercase;
  font-weight: 700;
}

.footer .helpful-links ul li,
.footer .contact ul li {
  line-height: 2.8;
  color: white;
}
.footer .list-unstyled li i {
  color: black;
}
.footer .list-unstyled li a {
  color: white;
}
/* End Footer */


